.root{
    -fx-background-image: url('https://i.4cdn.org/w/1709038154516331.png');
    -fx-background-size:500px;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.button:hover{
    -fx-background-color: rgb(200,70,10);
}
